In [77]:
import pandas as pd
from tqdm.notebook import tqdm
import os
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Download/main.db')
df = pd.DataFrame(engine.execute("SELECT * FROM noncreepy_kg").fetchall(),
                  columns=['index','index','subject','relation','object','id','subreddit','originial_sent'])
df

,index,index,subject,relation,object,id,subreddit,originial_sent
0,0,0,I,constantly found,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
1,1,1,I,constantly found together,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
2,2,2,I,found,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
3,3,3,I,found together,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
4,4,4,it,would,would us for few hours,f95dr,Confession,we'd come home from school and it would just b...
...,...,...,...,...,...,...,...,...
236364,29132,29132,tL ;D R,is same colour of,Coke,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236365,29133,29133,tL ;D R,is same colour in,bottle,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236366,29134,29134,tL ;D R,is,same colour of Coke in bottle,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236367,29135,29135,tL ;D R,is,same colour,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236368,29136,29136,tL ;D R,is colour of,Coke,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...

In [78]:
len(df)

236369

In [79]:
import networkx as nx
import matplotlib.pyplot as plt
# create a directed-graph from a dataframe
G=nx.from_pandas_edgelist(df, "subject", "object", create_using=nx.MultiDiGraph())

In [80]:
G.number_of_nodes()

96325

In [81]:
G.size()

236369

In [82]:
G.to_directed()

In [83]:
Gcc = sorted(nx.connected_components(G.to_undirected()), key=len, reverse=True)
G0 = G.subgraph(Gcc[0])
size = len(G0)

In [84]:
size

93496

In [85]:
from collections import Counter
counter = Counter(dict(G.degree))
counter.most_common(20)

[('I', 52636),
 ('i', 30286),
 ('he', 22256),
 ('it', 19708),
 ('we', 12103),
 ('she', 11828),
 ('me', 7987),
 ('you', 6872),
 ('Kevin', 6187),
 ('they', 4748),
 ('kevin', 4081),
 ('him', 4062),
 ('her', 2497),
 ('them', 1658),
 ('people', 1645),
 ('time', 1459),
 ('myself', 1059),
 ('this', 1045),
 ('guy', 994),
 ('things', 909)]

In [86]:
import nltk
nltk.download('names')

[nltk_data] Downloading package names to /home/anthony/nltk_data...
[nltk_data]   Package names is already up-to-date!

True

In [87]:
df['originial_sent'].values

array(['and I constantly found ourselves with a lot of idle time alone together.',
       'and I constantly found ourselves with a lot of idle time alone together.',
       'and I constantly found ourselves with a lot of idle time alone together.',
       ..., 'tL ;D R- chip fat is the same colour of Coke in a bottle.',
       'tL ;D R- chip fat is the same colour of Coke in a bottle.',
       'tL ;D R- chip fat is the same colour of Coke in a bottle.'],
      dtype=object)

# Mean number of nodes and edges (G.number_of_nodes() and G.size(), respectively) for creepy and non-creepy stories

In [89]:
import pandas as pd
from tqdm.notebook import tqdm
import os
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Download/main.db')
df = pd.DataFrame(engine.execute("SELECT * FROM noncreepy_kg").fetchall(),
                  columns=['index','index','subject','relation','object','id','subreddit','originial_sent'])
df

,index,index,subject,relation,object,id,subreddit,originial_sent
0,0,0,I,constantly found,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
1,1,1,I,constantly found together,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
2,2,2,I,found,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
3,3,3,I,found together,ourselves,f95dr,Confession,and I constantly found ourselves with a lot of...
4,4,4,it,would,would us for few hours,f95dr,Confession,we'd come home from school and it would just b...
...,...,...,...,...,...,...,...,...
236364,29132,29132,tL ;D R,is same colour of,Coke,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236365,29133,29133,tL ;D R,is same colour in,bottle,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236366,29134,29134,tL ;D R,is,same colour of Coke in bottle,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236367,29135,29135,tL ;D R,is,same colour,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...
236368,29136,29136,tL ;D R,is colour of,Coke,waj5q,TIFU,tL ;D R- chip fat is the same colour of Coke i...

In [90]:
df['originial_sent']

0         and I constantly found ourselves with a lot of...
1         and I constantly found ourselves with a lot of...
2         and I constantly found ourselves with a lot of...
3         and I constantly found ourselves with a lot of...
4         we'd come home from school and it would just b...
                                ...
236364    tL ;D R- chip fat is the same colour of Coke i...
236365    tL ;D R- chip fat is the same colour of Coke i...
236366    tL ;D R- chip fat is the same colour of Coke i...
236367    tL ;D R- chip fat is the same colour of Coke i...
236368    tL ;D R- chip fat is the same colour of Coke i...
Name: originial_sent, Length: 236369, dtype: object

In [91]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /home/anthony/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [92]:
import networkx as nx
import matplotlib.pyplot as plt
from textblob import TextBlob
from tqdm.notebook import tqdm

graph_properties_li=[]

for id in tqdm(df['id'].unique()):
    kg_df = df[df['id']==id]
    
    # create a directed-graph from a dataframe
    G=nx.from_pandas_edgelist(kg_df, "subject", "object", create_using=nx.MultiDiGraph())
    
    Gcc = sorted(nx.connected_components(G.to_undirected()), key=len, reverse=True)
    G0 = G.subgraph(Gcc[0])
    size = len(G0)
    
    noun=0
    for text in kg_df['originial_sent'].to_list():
        blob = TextBlob(text)
        noun+=len(blob.noun_phrases)

    row = {'id':id,'# of nodes':G.number_of_nodes(),'# of edges':G.number_of_edges(),'size of the largest connected components':size,'# of noun phrases':noun}
    graph_properties_li.append(row)
    
graph_properties_df = pd.DataFrame(graph_properties_li)

  0%|          | 0/4753 [00:00<?, ?it/s]

In [93]:
graph_properties_df

,id,# of nodes,# of edges,size of the largest connected components,# of noun phrases
0,f95dr,148,187,124,97
1,f970p,5,6,3,0
2,f98j9,43,57,40,39
3,f99mx,38,38,11,71
4,f9bcv,21,47,13,15
...,...,...,...,...,...
4748,w9vwg,39,42,14,62
4749,wa2pl,8,7,4,8
4750,wac39,19,20,7,19
4751,wae9n,21,22,12,27
4752,waj5q,26,29,19,44

In [94]:
graph_properties_df.mean()

# of nodes                                  42.269304
# of edges                                  49.730486
size of the largest connected components    25.087313
# of noun phrases                           71.390701
dtype: float64